source/Go/code/.ipynb_checkpoints/koreantourismspot_crawler-Copy1-checkpoint.ipynb
source/Go/code/weekly/.ipynb_checkpoints/0515-checkpoint.ipynb
source/Go/models/GoogleNews-vectors-negative300.bin
source/Go/models/GoogleNews-vectors-negative300.bin.gz
